:root {
    --thumb-shadow: 0.1rem 0.1rem 0.3rem hsl(0deg 0% 0%);
    --thumb-block-size: 2rem;
    --thumb-inline-size: 2rem;
    --thumb-color: 210;
    --thumb-border-radius: 5rem;

    --runnable-track-background: linear-gradient(
        to right,
        hsl(0deg 100% 50%),
        hsl(30deg 100% 50%),
        hsl(60deg 100% 50%),
        hsl(90deg 100% 50%),
        hsl(120deg 100% 50%),
        hsl(150deg 100% 50%),
        hsl(180deg 100% 50%),
        hsl(210deg 100% 50%),
        hsl(240deg 100% 50%),
        hsl(270deg 100% 50%),
        hsl(300deg 100% 50%),
        hsl(330deg 100% 50%),
        hsl(360deg 100% 50%)
    );
}

input[type="range"] {
    background-color: transparent;

    width: 100%;
    height: 2.7rem;

    margin: 1rem 0;
    appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--runnable-track-background);
    box-shadow: none;

    width: 100%;
    height: 1rem;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    animate: 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    background: hsl(var(--thumb-color) 100% 50%);
    box-shadow: var(--thumb-shadow);

    block-size: var(--thumb-block-size);
    inline-size: var(--thumb-inline-size);

    margin-top: -0.5rem;

    border: none;
    border-radius: var(--thumb-border-radius);

    cursor: pointer;
    appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--runnable-track-background);
}

input[type="range"]::-moz-range-track {
    background: var(--runnable-track-background);
    box-shadow: none;

    width: 100%;
    height: 1rem;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    animate: 0.2s;
}

input[type="range"]::-moz-range-thumb {
    background: hsl(var(--thumb-color) 100% 50%);
    box-shadow: var(--thumb-shadow);

    block-size: var(--thumb-block-size);
    inline-size: -var(-thumb-inline-size);

    border: none;
    border-radius: var(--thumb-border-radius);

    cursor: pointer;
}

input[type="range"]::-ms-track {
    background: transparent;
    color: transparent;

    width: 100%;
    height: 1rem;

    border-color: transparent;

    cursor: pointer;
    animate: 0.2s;
}

input[type="range"]::-ms-fill-lower {
    background: var(--runnable-track-background);
    box-shadow: none;

    border: none;
    border-radius: 1rem;
}

input[type="range"]::-ms-fill-upper {
    background: var(--runnable-track-background);
    box-shadow: none;

    border: none;
    border-radius: 1rem;
}

input[type="range"]::-ms-thumb {
    background: hsl(var(--thumb-color) 100% 50%);
    box-shadow: var(--thumb-shadow);

    block-size: var(--thumb-block-size);
    inline-size: var(--thumb-inline-size);

    margin-top: 0.1rem;

    border: none;
    border-radius: var(--thumb-border-radius);

    cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
    background: var(--runnable-track-background);
}

input[type="range"]:focus::-ms-fill-upper {
    background: var(--runnable-track-background);
}
