.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--flex-gap-large);

    min-block-size: 100vh;

    padding: var(--padding-large) max(calc((100% - 120rem) / 2), 2rem);

    button {
        display: none;
    }
}

@media (min-width: 1024px) {
    .home {
        button {
            display: none;
        }
    }
}
