.settings-container {
    background-color: var(--color-accent-darker);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    inline-size: 70rem;

    padding: var(--padding-medium);

    font-size: var(--font-size-paragraph);

    .text-input-label {
        color: (var(--color-primary-darker));

        display: flex;
        flex-direction: column;
        gap: var(--flex-gap-medium);

        input {
            background-color: var(--color-accent-light);
            color: inherit;
        }
    }

    .checkbox-input-label {
        color: (var(--color-primary-darker));

        display: flex;
        align-items: center;
        column-gap: var(--flex-gap-medium);

        input {
            background-color: var(--color-accent-light);
            color: inherit;
        }
    }
}

@media (min-width: 1024px) {
    .settings-container {
        position: static;

        block-size: 100%;
        inline-size: calc(100% - 63rem);

        transform: translateX(0);
    }
}
